@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background: #11071f;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #fff;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #1a0b2e;
}
header .logo {
  display: flex;
  align-items: center;
  margin: 10px;
}
header .logo source,
header .logo img {
  display: block;
  height: 40px;
  width: 40px;
}
nav {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
nav a {
  display: flex;
  height: 100%;
  min-height: 100%;
  font-size: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: all 0.8s;
}
nav a:hover {
  background: rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 80px;
}
.welcome {
  display: flex;
  margin-bottom: 50px;
}
.welcome .a_img {
  display: block;
  width: 250px;
  text-shadow: 0 0 100px 50px #763cac;
}
.welcome .descpription {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.welcome .descpription .cue {
  position: absolute;
  top: -40px;
  left: -40px;
  font-size: 17px;
  background: url(./Arrow.png) no-repeat;
  background-size: 91px 81px;
  background-position: -81px;
  overflow: visible;
}

.welcome .descpription .cue::before {
  content: "";
  position: absolute;
  width: 91px;
  height: 81px;
  left: -81px;
  top: -10px;
  background: url(./Arrow.png) no-repeat;
  background-size: 91px 81px;
  background-position: 0px 0px;
}
.welcome .descpription .q {
  font-size: 19px;
  text-decoration: underline;
  margin-bottom: 5px;
}
.welcome .descpription .profession {
  font-size: 50px;
  margin-bottom: 5px;
}
.welcome .descpription > p {
  font-size: 11px;
}
section.mein > h2 {
  font-size: 50px;
}
section.mein > span {
  font-size: 21px;
  margin-bottom: 35px;
}
section.mein > p {
  font-size: 15px;
  width: 70%;
}
section.exp h3 {
  font-size: 40px;
  margin-bottom: 45px;
}
section.exp .exp_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 480px);
  grid-template-rows: repeat(auto-fill, 150px);
  gap: 20px;
}
section.exp .exp_list .work {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgb(19, 4, 40);
  background: linear-gradient(
    345deg,
    rgba(19, 4, 40, 1) 10%,
    rgba(56, 18, 109, 1) 48%,
    rgba(38, 17, 69, 1) 84%
  );
  border-radius: 15px;
  border-top: 2px solid #693b93;
}
section.exp .exp_list .work img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 15px;
  margin-left: 50px;
  margin-right: 25px;
}
section.exp .exp_list .work .discription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  height: 90%;
}
section.exp .exp_list .work .discription button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c1250;
  border: 1px solid #693b93;
  border-radius: 15px;
  color: #fff;
  width: 100px;
  height: 33px;
  font-size: 10px;
  transition: all 0.6s;
}
section.exp .exp_list .work .discription h4 {
  display: flex;
  font-size: 25px;
}
section.exp .exp_list .work .discription p {
  display: flex;
  font-size: 10px;
}
section.exp .exp_list .work .discription button:hover {
  transform: scale(1.1);
  background: #411b75;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
section.exp .exp_list .work .discription button:active {
  transform: scale(0.9);
  background: #240f42;
}
section.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.skills img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 35px;
}
section.projects{
display: flex;
flex-direction: column;
align-items: center;
}
section.projects .project{
position: relative;
  display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
}
section.projects .project p{
display: block;
width: 60%;
padding: 35px;
border-radius: 15px;
position: relative;
z-index: 5;
}
section.projects .project p::before{
position: absolute;
  content: "";
  left: 0;
  top: 0;
width: 100%;
height: 100%;
background: #ffffff20;
filter: blur(10px);
border-radius: 15px;
}
section.projects .project img{
display: block;
position: absolute;
right: 0;
width: 600px;
height: 350px;
z-index: 1;
}
